* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 50px 200px;
    text-align: left;
}

.info {
    margin: 0 0 50px 0;
}

.primer {
    margin: 0 0 30px 0;
}

.segundo {
    margin: 0 0 30px 0;
}

.tercero {
    margin: 0 0 30px 0;
}

.cuarto {
    margin: 0 0 30px 0;
}

.quinto {
    margin: 0 0 30px 0;
}

.sexto {
    margin: 0 0 30px 0;
}

.titulos {
    font-size: 23px;
    font-weight: 400;
}

.imagene img {
    width: 800px;
    height: auto;
    margin: 0 0 0 0;
}

.imagene p {
    font-weight: 100;
    font-size: 16px;
    color: grey;
    font-style: italic;
}

.imagenes img {
    width: 800px;
    height: auto;
    margin: 40px 0 0 0;
}

.imagenes p {
    font-weight: 100;
    font-size: 16px;
    color: grey;
    font-style: italic;
}

.image img {
    width: 800px;
    height: auto;
    margin: 40px 0 0 0;
}

.image p {
    font-weight: 100;
    font-size: 16px;
    color: grey;
    font-style: italic;
    margin: 0 0 40px 0;
}

.bibliografia {
    text-align: left;
    margin: 30px 40px 0 0;
}



@media (max-width: 800px) {
    body {
        font-size: 14px;
        margin: 50px 40px;
    }
    .titulos {
        font-size: 16px;
    }

    .imagene img {
        width: 250px;
        height: auto;
        margin: 0 0 0 0;
    }
    
    .imagene p {
        font-weight: 100;
        font-size: 16px;
        color: grey;
        font-style: italic;
    }
    
    .imagenes img {
        width: 250px;
        height: auto;
        margin: 40px 0 0 0;
    }
    
    .imagenes p {
        font-weight: 100;
        font-size: 16px;
        color: grey;
        font-style: italic;
    }
    
    .image img {
        width: 250px;
        height: auto;
        margin: 40px 0 0 0;
    }
    
    .image p {
        font-weight: 100;
        font-size: 16px;
        color: grey;
        font-style: italic;
        margin: 0 0 40px 0;
    }

}
